.card{
    margin: 10px;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cHandle{
    height: 80px;
    width: 100%;
    background-color: white;
     
   
}

.cHandleOuter{
    padding: 7px 7px 7px 7px;
    
}

.cHandleInner{
    height: calc( 100% - 14px);
    width: 100%;
    
    
}

.cContents{
    height: auto;
    min-height: 50px;
    width: 100%;
    background-color: white;


}

.ch_lText{
    width: calc(100% - 80px - 50px);
    height: 100%;
    overflow: hidden;
    
    float: left;
}

.ch_lCheck{
    float: left;
    width: 50px;
    margin-right: 10px;
    height: 100%;

    line-height: 80px;
}

.ch_lCheckbox{
    height: 20px;
    width: 20px;
    margin: 23px 15px 23px 15px;

    border-radius: 100%;
    text-align: center;

}

.ch_rExpandInnerText{
    height: 25px;
    width: 25px;
    margin: 20px 20px 20px 20px;

    border-radius: 100%;
    text-align: center;
    user-select: none;
}

.ch_rExpand{
    width: calc(80px - 14px);
    height: 100%;

    
    float: right;
}

.ch_lTextInner{
    height: 100%;
    width: auto;
    line-height: calc(80px - 14px);
    text-align: left;
    margin: 0 auto;
    font-size: 1.2em;
    float: left;
}

.ch_mTextInner{
    height: 100%;
    width: auto;
    line-height: calc(80px - 14px);
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    border: 0;

}

.ch_mTextInner{
    outline-width: 0;
}

.ch_rExpandInner{
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: calc(80px - 14px);
    
    font-size: 40px;
}

.ccNavbar{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    
    
}

.ccNavbarInner{
    height: 100%;
    width: 100%;
    margin: 0 auto;

}

.ccNBactionOuter{
    height: 100%;
    width: 100%;
    
}

.ccNBactionInner{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    
}

.ccNBactionbut{
    height: 40px;
    width: 40px;
    margin: 0 10px auto;
    float: right;
    border-radius: 100%;

    color: #7F838C;
    text-align: center;

    user-select: none;
    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ccNBactionbut:hover {
    color: 4384F4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#centretext{
    line-height: 40px;
}

.ccNBbookmarkOuter{
    height: 100%;
    width: auto;
    float: left;
}

.ccNBbookmarkInner{
    color: #7F838C;
    height: 100%;
    width: auto;
    margin: 0 10px auto;
}

.ccNBbookmark{
    height: 100%;
    color: #7F838C;
    width: 60px;
    font-size: 1.3em;
    text-align: center;
    margin: 0 0px auto;
    border: 0;

}
.ccNBbookmark:focus{
    outline: 0;
}

.ccTextNotesOuter{
    width: calc(100%-10px);
    height: 50px;
    padding: 10px;
    
}

.ccTextNotes{
    height: 100%;
    width: 100%;
    resize: none;
    border: #7F838C solid 1px;
}

.ccTextNotes:focus{
    outline: 0;
    border: #4384F4 solid 1px;
}

.ccTitle{
    text-align: center;
    color: #7F838C;
}

.ccTitleUnderline{
    text-align: center;
    color: #7F838C;
    margin: 5px 50px auto;
    
    border-bottom: 1px #7F838C solid;
}
